<div class="row">
  <div class="col-md-6">
    <ul class="list-group posts">
      {{#each model as |post|}}
        <li class="list-group-item">
          {{#link-to 'post' post}}
            <b>{{post.title}}</b> by {{post.author}} on {{post.date}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>