<div class="row">
  <div class="col-md-6">
    <ul class="list-group posts">
      {{#each model as |post|}}
        <li class="list-group-item">
          {{!-- {{#link-to 'posts.post' post}} --}}
            {{post.title}} by {{post.author}} on {{post.create_date}}
          {{!-- {{/link-to}} --}}
        </li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>